
body {
  font-family: 'Lato', arial, sans-serif;
  color:  #434343;
  background: #DAE3E7;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #778492;
}

.wrap{
   animation: caret 1s steps(1) infinite;
   border-right: 0.08em solid #fff;
  padding-right: 1px;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}

a {
  color: #3AAA64;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #5f6b77;
  color: #2d844e;
}

a:focus {
  text-decoration: none;
}

.label{
  color:white;
  padding: 4px;
}

.tgs {background-color: #4CAF50;}

.btn, a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}

.btn .svg-inline--fa, a.btn .svg-inline--fa {
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.btn:focus, a.btn:focus {
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a.btn-cta-primary, .btn-cta-primary {
  background: #54ba4e;
  border: 1px solid #54ba4e;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

a.btn-cta-primary:hover, .btn-cta-primary:hover {
  background: #49ac43;
  border: 1px solid #49ac43;
  color: #fff;
}

a.btn-cta-secondary, .btn-cta-secondary {
  background: #479FC8;
  border: 1px solid #479FC8;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

a.btn-cta-secondary:hover, a.btn-cta-secondary:not(:disabled):not(.disabled):active:focus, .btn-cta-secondary:hover, .btn-cta-secondary:not(:disabled):not(.disabled):active:focus {
  background: #3893bd;
  border: 1px solid #3893bd;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.text-highlight {
  color: #32383e;
}

.badge-theme {
  background: #3AAA64;
  font-size: 12px;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

a.dotted-link {
  border-bottom: 1px dotted #778492;
  color: #778492;
}

a.dotted-link:hover {
  text-decoration: none;
  color: #49515a;
}



/* ABOVE */

/* ======= Header ======= */
/* .header {
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492;
} */

.header .btn {
  margin-top: 60px;
  font-weight: bold;
}

.header .profile-image {
  margin-right: 30px;
}

.header .profile-content .name {
  color: #49515a;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.header .profile-content .desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

.header .profile-content .social a {
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}

.header .profile-content .social a:hover {
  background: #778492;
}

.header .profile-content .social a .svg-inline--fa {
  font-size: 20px;
  margin-top: 8px;
}

/* ======= Sections======= */
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  margin-bottom: 30px;
}


.section .section-inner1 {
  background: #fff;
  padding: 30px;
}

.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}

.section .content .more-link .svg-inline--fa {
  margin-right: 5px;
  font-size: 14px;
  position: relative;
  top: -2px;
}

/* About Section */
/* Latest Section */
.latest .item {
  margin-bottom: 30px;
}

.latest .item .title {
  font-size: 18px;
  margin-top: 0;
}

.latest .item .title .label {
  margin-left: 5px;
  font-size: 12px;
}

.latest .item .title a {
  color: #778492;
}

.latest .item .title a:hover {
  color: #5f6b77;
}

.latest .item .project-image:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.latest .divider {
  margin-bottom: 60px;
}

.latest .featured {
  margin-bottom: 60px;
}

.latest .featured .title {
  font-size: 20px;
  margin-bottom: 5px;
  font-size: 20px;
}

.latest .featured .summary {
  margin-bottom: 30px;
  color: #778492;
}

.latest .featured img {
  margin-bottom: 30px;
}

.latest .featured .desc {
  margin-bottom: 30px;
}

.latest .has-ribbon {
  position: relative;
  display: inline-block;
}

.latest .has-ribbon .text {
  background: #3AAA64;
  color: #fff;
}

.latest .has-ribbon .ribbon {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 110px;
  height: 110px;
  overflow: hidden;
}

.latest .has-ribbon .ribbon .text {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: -8px;
  top: 18px;
  width: 158px;
  padding: 10px 10px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #479FC8;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
}

.latest .has-ribbon .ribbon .text:before, .latest .has-ribbon .ribbon .text:after {
  content: '';
  position: absolute;
  bottom: -5px;
  border-top: 5px solid #276582;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.latest .has-ribbon .ribbon .text:before {
  left: 0;
}

.latest .has-ribbon .ribbon .text:after {
  right: 0;
}

/* Projects Section */
.projects .item {
  margin-bottom: 30px;
}

.projects .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

.projects .item .title a {
  color: #778492;
}

.projects .item .title a:hover {
  color: #5f6b77;
}

/* Work Section */
.experience .item {
  margin-bottom: 30px;
}

.experience .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

.experience .item .title .place {
  color: #999;
  font-weight: normal;
}

.experience .item .title .place a {
  color: #999;
}

.experience .item .title .place a:hover {
  color: #666666;
}

.experience .item .title .year {
  color: #999;
  font-weight: normal;
}


/* Info Section */
.info .svg-inline--fa {
  margin-right: 15px;
  color: #ccd1d6;
}

.info .svg-inline--fa.fa-envelope-o {
  font-size: 14px;
}

.info ul {
  margin-bottom: 0;
}

.info li {
  margin-bottom: 15px;
}

.info li:last-child {
  margin-bottom: 0;
}

/* Skills Section */
.skills .intro {
  margin-bottom: 30px;
}

.skills .skillset .item {
  margin-bottom: 30px;
}

.skills .skillset .level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10;
}

.skills .skillset .level-title .level-label {
  color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
}

.skills .skillset .level-bar {
  height: 15px;
  background: #e8e8e8;
}

.skills .skillset .level-bar-inner {
  height: 15px;
  background: #66cb8c;
}

.skills .svg-inline--fa {
  margin-right: 3px;
  position: relative;
  top: -1px;
}


/* Education section */
.education .item {
  margin-bottom: 30px;
}

.education .item:last-child {
  margin-bottom: 0;
}

.education .item .title {
  font-size: 16px;
  margin-top: 0;
}

.education .item .university {
  font-family: "Lato", arial, sans-serif;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  padding-left: 25px;
}

.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500;
}


/* Blog Section */
/* .blog .item {
  margin-bottom: 30px;
}

.blog .item .title {
  font-size: 18px;
  line-height: 1.3;
}

.blog .item .title a {
  color: #778492;
}

.blog .item .title a:hover {
  color: #5f6b77;
}

.blog .item p {
  margin-bottom: 5px;
}

.blog .item:last-child {
  margin-bottom: 0;
} */

/* List section */
.list ul li {
  margin-bottom: 10px;
}

.list ul li .svg-inline--fa {
  margin-right: 5px;
}

.list ul li a {
  color: #778492;
}

.list ul li a:hover {
  color: #49515a;
}

/* Credits */
.credits ul li {
  margin-bottom: 10px;
}

.credits ul li .svg-inline--fa {
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.credits ul li a {
  color: #778492;
}

.credits ul li a .svg-inline--fa {
  color: #b0b7bf;
}

.credits ul li a:hover {
  color: #49515a;
}

.credits .btn {
  margin-bottom: 15px;
}

.aside .subheading {
  font-size: 18px;
  color: #545e69;
}

/* ======= Footer ======= */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
}

.footer .copyright {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}

.footer a {
  color: #fff;
}

.footer .fa-heart {
  color: #fb866a;
}
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 50%;
  border-radius: 12px;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;

}
.dropbtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 12px;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; width: 50%;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

@media (max-width: 767.98px) {
  .header {
    text-align: center;
  }
  .header .profile-image {
    float: none !important;
    margin: 0 auto;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .header .btn {
    margin-top: 30px;
    float: none !important;
  }
  .project-image {
    margin-bottom: 15px;
  }
}


@media (min-width: 1400px) {
  .container {
    width: 1360px;
    max-width: inherit;
    height: auto;
  }
}

/*  Dark Mode */
 .dark-mode{
   background-color: #101010;
 }


 .dark-mode #button1{
  filter: invert(1) hue-rotate(180deg);
 }
 
 .dark-mode {
  filter: invert(1) hue-rotate(180deg) drop-shadow(0 0 0.1rem whitesmoke);

}
.dark-mode img{
  filter: invert(1) hue-rotate(180deg);
}
.dark-mode header h1{
 filter:  contrast(400%) brightness(280%) hue-rotate(280deg);
}
.dark-mode button{
  filter: invert(1) hue-rotate(180deg);
}
.dark-mode header h2{
  filter: invert(1) contrast(100%) hue-rotate(190deg);
 }

.dark-mode .switch{
  filter: invert(1) hue-rotate(180deg);
}
.dark-mode {
  transition: color 300ms, background-color 300ms;
}

/* Toggle Switch */

.switch {
  display: inline-block;
  position: relative;
  
}

.switch__input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.switch__label {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 60px;
  background-color: #2b2b2b;
  border: 5px solid #5b5b5b;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.switch__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-72%);
  display: block;
  width: 40px;
  height: 40px;
  background-color: #7b7b7b;
  border-radius: 9999px;
  box-shadow: 10px 0px 0 0 rgba(0, 0, 0, 0.2) inset;
}
.switch__indicator::before, .switch__indicator::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #ffffff;
  border-radius: 9999px;
}
.switch__indicator::before {
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  opacity: 0.6;
}
.switch__indicator::after {
  bottom: 8px;
  right: 6px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  opacity: 0.8;
}

.switch__decoration {
  position: absolute;
  top: 65%;
  left: 50%;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 9999px;
  animation: twinkle 0.8s infinite -0.6s;
}
.switch__decoration::before, .switch__decoration::after {
  position: absolute;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 9999px;
}
.switch__decoration::before {
  top: -20px;
  left: 10px;
  opacity: 1;
  animation: twinkle 0.6s infinite;
}
.switch__decoration::after {
  top: -7px;
  left: 30px;
  animation: twinkle 0.6s infinite -0.2s;
}

@keyframes twinkle {
  50% {
    opacity: 0.2;
  }
}
.switch__indicator, .switch__indicator::before, .switch__indicator::after {
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.switch__input:checked + .switch__label {
  background-color: #8fb5f5;
  border-color: #347cf8;
}
.switch__input:checked + .switch__label .switch__indicator {
  background-color: #ecd21f;
  box-shadow: none;
  transform: translate(-50%, -50%) translateX(72%);
}
.switch__input:checked + .switch__label .switch__indicator::before, .switch__input:checked + .switch__label .switch__indicator::after {
  display: none;
}
.switch__input:checked + .switch__label .switch__decoration {
  top: 50%;
  transform: translate(0%, -50%);
  animation: cloud 8s linear infinite;
  width: 20px;
  height: 20px;
}
.switch__input:checked + .switch__label .switch__decoration::before {
  width: 10px;
  height: 10px;
  top: auto;
  bottom: 0;
  left: -8px;
  animation: none;
}
.switch__input:checked + .switch__label .switch__decoration::after {
  width: 15px;
  height: 15px;
  top: auto;
  bottom: 0;
  left: 16px;
  animation: none;
}
.switch__input:checked + .switch__label .switch__decoration, .switch__input:checked + .switch__label .switch__decoration::before, .switch__input:checked + .switch__label .switch__decoration::after {
  border-radius: 9999px 9999px 0 0;
}
.switch__input:checked + .switch__label .switch__decoration::after {
  border-bottom-right-radius: 9999px;
}

@keyframes cloud {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}



/* 3d card */



.flip-card {
  background-color: transparent;
  -webkit-perspective: 900000px;
  perspective: 900000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.section-inner{
  background: #fff;
  display: grid;
  width: 100%;
  height: auto;
  -webkit-transition: transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  padding: 30px;
  position: relative;
}

.flip-card.hover .section-inner {
  -webkit-transform: translateX(-100%) rotateY(180deg);
  transform:translateX(-100%) rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: relative;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

 } 

.flip-card-back {
  background-color: transparent;
  color: black;
  z-index: 1;
  -webkit-transform: rotate(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position:fixed;
  padding: 30px; 
} 
button {
  outline: none;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color:green;
  padding: 20px 70px;
  font-size: 24px;
  border: 1px solid green;
  background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, green),
      color-stop(1,green)
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 6px 0px  green, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px  green, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px  green, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}
button:focus{
  outline:none !important;
  }

#dis{
  height: 100vh;
  margin-top: auto;
  text-align:center;
  background-color: white;
}
/* back to top */

#button1 {
  display: inline-block;
  background-color: green;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button1::after {
  /* font-family: "Font Awesome 5 Free";
   content: "\0023"; */
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button1:hover {
  cursor: pointer;
  background-color: rgb(248, 248, 248);
}
#button1:active {
  background-color: rgb(255, 255, 255);
}
#button1.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */
@media (min-width: 500px) {
  #button1 {
    margin: 30px;
  }
}